<a href="/dishes/<%= @dish.id %>/edit">Edit</a>
<form action="/dishes/<%= @dish.id %>" method = "post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <button>Delete</button>
</form>
<h1><%= @dish.title %></h1>
<div class="pic">
  <img src="<%= @dish.pic_image %>" alt="">
</div>
